﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="frmDisplayMonitorScreen.aspx.vb" Inherits="frmDisplayMonitorScreen" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:DropDownList ID="cmbMacAddress" runat="server"></asp:DropDownList>
        <asp:Button ID="btnDisplay" runat="server" Text="Display" />
        <asp:Label ID="lblCatpureTime" runat="server"  ></asp:Label>
    </div>
    <div>
        <img id="imgScreenImage" runat="server" style="height: 768px; width: 1024px;" />
    </div>
        
    </form>
</body>
</html>
