<%@ Master Language="VB" CodeFile="LoginMasterPage.master.vb" Inherits="Template_LoginMasterPage" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<%@ Register assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagprefix="cc1" %>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=windows-874" />
    <title>Thai Imagination Technology Company Limited</title>
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>

<script type="text/javascript" language="JavaScript" src="../Template/JScript.js" ></script>
<script type="text/javascript" src="../Template/datetimepicker_css.js"></script>
<link href="../Template/StyleSheet.css" rel="stylesheet" type="text/css" />

</head>
<body>

<table width="1003" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="67" colspan="3" background="../Images/head02.gif">
    <!--select  language -->
    <!-- InstanceBeginEditable name="lang_th" -->
    <table width="200" height="22" border="0" align="right">
      <tr>
        <td width="200">Issue Tracking Log</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table>
    <!-- InstanceEndEditable -->    <!--end select   language -->
    </td>
  </tr>
  <tr>
    <td height="43" colspan="3" background="../Images/btn_bg.jpg" align="center">
        &nbsp;
     </td>
  </tr>
  <tr>
    <td align="center" valign="top" background="../Images/menu_left.jpg" bgcolor="#FFFFFF">
        <form id="form1" runat="server">
        
        <cc1:ToolkitScriptManager ID="ScriptManager1" runat="server">
        </cc1:ToolkitScriptManager>
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td style="height:30px" bgcolor="#3399FF">&nbsp;
                    <asp:Label ID="lblPageName" runat="server" Text="" Font-Bold="True" ForeColor="White" Font-Size="Medium"></asp:Label>
                </td>
            </tr>
        </table>
        <div style="height:510px;overflow:scroll;" >
            <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
        </form>
    </td>
  </tr>
  <tr>
    <td height="38" colspan="3" background="../Images/ft_tabCopy.jpg">&nbsp;</td>
  </tr>
</table>
</body>
</html>

